html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: skyblue;
}

section.intros {
  background: url(https://mediacdn.mancity.com/-/media/wallpapers/champions18/champions%20banner%20201718) no-repeat top center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
}

section.intro {
  background: url(http://i.imgur.com/OEV8kdZ.jpg) no-repeat top center;
  background-size: cover;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.rightCol1 {

  float: left;
  margin-top: 10px;
}

.theBox3 {

  width: 280px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 10px 0px 40px 15px;
  display: inline-block;
}

.txtBox3 {

  position: absolute;
  height: 75px;
  width: 170;
  background: url(http://i.imgur.com/sGWRvSp.png?1);
  bottom: 0;
}

h4 {
  padding: 0;
  margin: 10px 0 10px 15px;
  font-size: 13;
  font-weight: bold;
  color: #e6540c;
}

h5 {
  padding: 0;
  margin: 10px 0 10px 15px;
  font-size: 16;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(230, 230, 230);
}

p {
  text-align: center;

}

h1 {
  text-align: center;

}

.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image img {
  width: 100%;
}

html {
  margin: 0;
  height: 100%;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image img {
  width: 100%;
}

html {
  margin: 0;
  height: 100%;
}

body {
  background: black;
  color: #ccc;
  text-align: center;
}

img {
  align: center;
}