html {
    text-align: center;
    }
    body {
    box-sizing: border-box;
    background-image: url(http://getwallpapers.com/wallpaper/full/3/8/4/1183962-healthy-food-wallpaper-1920x1080-for-android.jpg);
    background-repeat: no-repeat;
    }
  #mealname{
    color: red;
  }
  P{
    font-size:140%;
  }

  #star{
    text-align: center;
    padding-left: 600px;
  }